# Frontend Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
frontend/coverage/
frontend/*.log
frontend/.env*

# Backend
backend/target/
backend/uploads/
backend/src/main/resources/firebase-key.json

# Général
.env
.DS_Store
*.log
Thumbs.db
